.THIS {
	padding-top: 20px;    
}

.THIS .panel {
    font-size:16px;    
}

.THIS .panel-heading-primary {
    background:#2481bb;
    color:#ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.THIS .panel-heading-success {
    background:#d6e9c6;
    color:#3c763d;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.THIS .panel-success {
    border-color: #d6e9c6; 
}