.THIS #lock.lockOff { 
    display: none; 
    visibility: hidden; 
} 

.THIS #lock.lockOn { 
    display: block; 
    visibility: visible; 
    position: fixed; 
    z-index: 9999; 
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%; 
    background-color: #ccc; 
    text-align: center; 
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
}

.THIS .panel-heading-primary{
    width: 100%;
    background:#2481bb;
    font-weight:bold;
    font-size:16px;
    color:#ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.THIS .panel-primary{
    border-color: #2481bb; 
}

.THIS .panel-heading-success{
    width: 100%;
    background:#d6e9c6;
    font-weight:bold;
    font-size:16px;
    color:#3c763d;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.THIS .panel-success{
    border-color: #d6e9c6; 
}